body{
    overflow: hidden;
}
#game {
	width: 800px;
	height: 500px;
	border: 2px solid;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

#game .sky {
	width: 200%;
	height: 80%;
	background-image: url('../img/sky.png');
	background-position: center;
	position: absolute;
	left: 0;
	top: 0;
}

#game .land {
	width: 200%;
	height: 20%;
	background-image: url('../img/land.png');
	position: absolute;
	left: 0;
	bottom: 0;
}

#game .bird {
	width: 33px;
	height: 26px;
	position: absolute;
	left: 150px;
    top: 150px;
    background-image: url('../img/bird.png');
}

#game .bird.swing1{
    background-position: -8px -10px;
}

#game .bird.swing2{
    background-position: -60px -10px;
}

#game .bird.swing3{
    background-position: -113px -10px;
}

#game .pipe{
    position: absolute;
    width:52px;
    height:100px;
}

#game .pipe.up{
    background: url('../img/pipeDown.png') no-repeat;
    background-position: left bottom;
}

#game .pipe.down{
    background: url('../img/pipeUp.png') no-repeat;
}

.over {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
    line-height: 500px;
    color: #fff;
    font-size: 5em;
    text-align: center;
    display: none;
}

p{
    text-align: center;
}