* {
	padding: 0;
	margin: 0;
}
body{
    overflow: hidden;
}
.wrapper {
	position: relative;
	overflow: hidden;
	width: 850px;
	height: 400px;
	margin: 0 auto;
	user-select: none;
	border: 1px solid;
}
.wrapper video {
	width: 100%;
    height: 100%;
}

.wrapper .menu {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	display: none;
}

.menu .play {
	position: absolute;
	left: 10px;
	bottom: 7px;
	width: 50px;
	height: 30px;
	border: 1px solid;
	border-radius: 10px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
}

.menu .time {
	position: absolute;
	left: 100px;
	bottom: 7px;
	height: 30px;
	width: auto;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
}

.bar {
	position: absolute;
	left: 0px;
	top: -2px;
	height: 2px;
	width: 100%;
	background-color: rgb(189, 187, 187);
}

.bar .bar-content {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 2px;
	width: 0px;
	background-color: yellow;
}

.bar .bar-circle {
	position: absolute;
	left: 0px;
	top: -2px;
	height: 6px;
	width: 6px;
	background-color: #fff;
}

.bar:hover {
	height: 16px;
	top: -10px;
}

.bar:hover .bar-content {
	height: 16px;
}

.bar:hover .bar-circle {
	height: 20px;
}

.quick {
	position: absolute;
	left: 520px;
	top: 10px;
	width: 60px;
	height: 30px;
	font-size: 20px;
	user-select: none;
	color: rgb(255, 255, 255);
	line-height: 30px;
	border: 1px solid #fff;
	border-radius: 10px;
	text-align: center;
}

.quick-list {
	list-style: none;
	position: absolute;
	left: 500px;
	top: -130px;
	width: 100px;
	height: 120px;
	padding-bottom: 20px;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	display: none;
}

.quick-list li {
	position: relative;
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}

.quick-list li:hover {
	color: yellowgreen;
}

.vol-add,.vol-ins,.full-screen{
	position: absolute;
	top: 10px;
	width: 60px;
	height: 30px;
	font-size: 20px;
	color: rgb(255, 255, 255);
	line-height: 30px;
	border: 1px solid #fff;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
}

.vol-add{
    left:620px;
}

.vol-ins{
    left:700px;
}

.full-screen{
    right:10px;
}