*{
    padding:0;
    margin:0;
    list-style:none;
}
.wrapper {
    width:100vw;
    height:100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper ul{
    width:80%;
    height:80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper li{
    width:16%;
    height:100%;
    border-radius:20px;
    background-color: #333;
    overflow: hidden;
    /* 第二次运动 */
    transition: width .5s linear,height .5s linear .5s;
}

.wrapper ul li .inner{
    width: 100%;
    height: 100%;
    position: relative;
    transition:transform .5s linear;
}

.wrapper ul.init li .inner{
    transform:translateY(100%);
}

.wrapper ul li:nth-of-type(1) .inner{
    transition-delay: .1s;
}

.wrapper ul li:nth-of-type(2) .inner{
    transition-delay: .2s;
}

.wrapper ul li:nth-of-type(3) .inner{
    transition-delay: .3s;
}
.wrapper ul li:nth-of-type(4) .inner{
    transition-delay: .4s;
}
.wrapper ul li:nth-of-type(5) .inner{
    transition-delay: .5s;
}
.wrapper ul li:nth-of-type(6) .inner{
    transition-delay: .6s;
}

.wrapper ul li .inner .bg{
    height:100%;
    border-radius:20px;
    background-size: cover;
    background-position: center center;
    opacity: .5;
}

.wrapper li h2{
    transition: opacity 2s linear;
}

.wrapper ul li:hover .inner .bg{
    opacity: 1;
}

.wrapper ul li:nth-of-type(1) .inner .bg{
    background-image: url('./images/1.jpg');
}

.wrapper ul li:nth-of-type(2) .inner .bg{
    background-image: url('./images/2.jpg');
}
.wrapper ul li:nth-of-type(3) .inner .bg{
    background-image: url('./images/3.jpg');
}
.wrapper ul li:nth-of-type(4) .inner .bg{
    background-image: url('./images/4.jpg');
}
.wrapper ul li:nth-of-type(5) .inner .bg{
    background-image: url('./images/5.jpg');
}
.wrapper ul li:nth-of-type(6) .inner .bg{
    background-image: url('./images/6.jpg');
}

.wrapper ul li .inner h2{
    font-size:16px;
    color:#fff;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.wrapper ul li:hover .inner h2{
    font-size:24px;
}

.activeWrapper li{
    /* 第一次运动 */
    transition: height .5s linear,width .5s linear .5s;
}

.activeWrapper li:not(.active){
    width:0;
    height:0;
}

.activeWrapper li.active{
    width:100%;
}

.activeWrapper li h2{
    opacity: 0;
    transition: opacity .2s linear;
}

.wrapper li .header{
    width:100%;
    height:30px;
    line-height: 30px;
    padding:0 30px;
    position: absolute;
    top: 50px;
    color:#fff;
    font-size:24px;
    display:flex;
    justify-content: space-between;
    box-sizing: border-box;
    opacity: 0;
}

.activeWrapper li .header{
    opacity: 1;
    transition:opacity .5s linear 1s;
}

.wrapper ul li .inner .header .close{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.wrapper ul li .inner .header .close::before,
.wrapper ul li .inner .header .close::after{
    content:'';
    width: 30px;
    height: 4px;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    background: #fff;
}

.wrapper ul li .inner .header .close::before{
    transform:rotate(45deg);
}

.wrapper ul li .inner .header .close::after{
    transform:rotate(-45deg);
}

.activeWrapper li .inner .header .close{
    transform: rotate(360deg);
    transition: transform .5s linear 1s;
}